/* Parallax Header */
.parallax {
    background-image: url("KAY ANN SAKVADOR:CSS/PHOTO/wedding1.jpeg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9ch 5ch 5ch 3ch;
    text-align: center;
    font-family: Cinzel, serif;
    color: white;
}

/* End of Parallax Header */

/* Our Story Section */
.section {
    height: fixed;
    background-color: rgb(250, 218, 223);
    font-size: medium;
    padding: 2ch 2ch 2ch 2ch;
    text-align: center;
    font-family: Cinzel, serif;
}

/* End of Our Story Section */

/* Image for Our Story Section */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* End of Image */

/* Parallax Wedding */
.parallax-wedding {
    background-image: url("beach\ wedding.jpeg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9ch 5ch 5ch 3ch;
    text-align: center;
    font-family: Cinzel, serif;
    color: black;
}

/* End of Parallax Wedding  */

/* Gallery Section  */
.section-gallery {
    height: fixed;
    background-color: rgb(250, 218, 223);
    font-size: medium;
    padding: 2ch 2ch 2ch 2ch;
    text-align: center;
    font-family: Cinzel, serif;
}

/* End of Gallery Section  */

/* RSVP Section  */
.section-rsvp {
    height: fixed;
    background-color: rgb(250, 218, 223);
    font-size: medium;
    padding: 2ch 2ch 2ch 2ch;
    text-align: center;
    font-family: Cinzel, serif;
}

/* End of RSVP Section  */


/* Navigation Bar */
html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    bottom: 0;
    background-color: pink;
    text-align: center;
    padding-bottom: 1ch;
}

ul {
    margin-left: auto;
    margin-right: auto;
    padding-right: 2ch;
}

li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    display: inline-flex;
    margin-top: 1ch;
}

li a {
    padding-top: 1ch;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
}

/* End of Navigation Bar */

/* Photo Grid for Gallery Section */
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* End of Photo Grid */

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}